@import "vars";
@import "reset";



$maxW: 1180px;


$Char     : #2e312a;
$ltGreen  : #64a009;
$drkGreen : #4e7f16;
$orng     : #fc6804;
$cream    : #ebefe1;
$white    : #ebefe1;
$ltGray   : #f1f1ef;
$drkGray  : #cfcfcf;
$brown    : #b8c0a3;
$bgCream  : #f0f2e7;



body {
	background: $bgCream;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

// rull row
/*
.full {
	float: left;
	width: 100%;
}
*/

// center wrap
.fullCtr {
	width: 100%;
	max-width: $maxW;
	margin: 0 auto;
}

// bg helpers

.bgWht {
	background: #fff;
}



// text overflow helpers

.hideTxt {
	overflow: hidden;
	text-indent: -99999px;
}

// positions

.abs {
	position: absolute;
}
.front.fix {
	position: fixed;
}
.rel {
	position: relative;
}

// round corners 
.rdCrn {
  border-radius: 8px;
  overflow: hidden;
}

// buttons
.btn {
  border-radius: 5px;
  display: inline-block;
  padding: 15px 20px;
}

.btn.green {
  box-shadow: 0px 2px 0px 0px rgba(79, 129, 13, 1);
  background-color: #64a009;
  color: #fff;
  background-image: -moz-linear-gradient( 90deg, rgb(85,139,13) 0%, rgb(100,160,9) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(85,139,13) 0%, rgb(100,160,9) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(85,139,13) 0%, rgb(100,160,9) 100%);
}

.btn.orange {
	color: #fff;
	background-image: -moz-linear-gradient( 90deg, rgb(220,106,29) 0%, rgb(252,104,4) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(220,106,29) 0%, rgb(252,104,4) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(220,106,29) 0%, rgb(252,104,4) 100%);
  box-shadow: 0px 2px 0px 0px rgba(215, 98, 19, 1);
}


// padding / margin style
.padTop50 {
	padding-top: 50px;
}


// white shawdow / grad
.whtShawdow {
  border-radius: 8px;
  background-color: #f8faf5;
  background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(246,248,241) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(246,248,241) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(246,248,241) 100%);
  box-shadow: 0px 2px 0px 0px rgba(231, 231, 223, 1);
}

// txt helpers
.caps {
	text-transform: uppercase;
}

// main header

header.main {
	height: 50px;
	margin-top: 20px;
	padding: 5px 0 0 0;
}

// logo
header.main h1 {
	display: block;
	float: left;
	width: 150px;
	background: transparent url('../images/logo.png') no-repeat center center;
	height: 100%;
	margin-top: -2px;
}

// search bar
header.main .searchFrom {
	display: block;
	float: left;
	width: 350px;
	height: 50px;
	padding: 5px 0 0 0;
}

// links
header.main ul li {
	display: block;
	height: 100%;
	float: left;
	padding: 22px 20px;
	height: 100%;
}


header.main nav {
	display: block;
	height: 60px;
	float: right;
}

header.main ul li a {
	font-size: 13px;
	display: block;
}




// login box
.loginWrap {
	float: right;
	width: 205px;
	border-left: solid 1px #edf1e3;
	margin-top: -5px;
}

// hello
.loginWrap span {
	font-size: 12px;
	font-style: italic;
	color: #9b9f8f;
}

.loginWrap span b {
	font-style: normal;
	font-weight: 600;
}

.loginWrap div.loginInfo {
	display: block;
	width: 125px;
	float: left;
	padding-top: 17px;
}

.loginWrap .avatar {
	display: block;
	float: right;
	width: 40px;
  height: 40px;
	padding: 18px 13px 13px 13px;
}

// hello title
header.main div span, header.main div a  {
	display: block;
	float: left;
	font-size: 12px;
	text-align: right;
	width: 100%;
	padding-right: 10px;
}

header.main div a {
	font-style: italic;
	color: #64a009;
	text-decoration: underline;
	text-align: right;
}

// user image
header.main div img {
	width: 100%;
	display: block;
	float: left;
	margin-top: -10px;
	border-radius: 50%;
	max-height: 50px;
	max-width: 50px;
	margin-right: -30px;
}




.sideBar {
	display: block;
	float: left;
	background: #fff;
	min-height: 300px;
	width: 190px;
	padding: 10px;
}

.sideBar .btnWrap {
	bottom: 10px;
}

.sideBar .btnWrap .btn {
	width: 100%;
	text-align: center;
}



.footerMap {
  max-width: 560px;
  height: 47px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -280px;
}

.footerMap .btnWrap {
	float: left;
	padding-right: 5px;
}


.footerMap li {
	display: block;
	float: left;
	height: 45px;
	width: 45px;
	border-right: 1px solid black;
	border-left: 1px solid red;
}

.footerMap li a {
	display: block;
	width: 45px;
	height: 45px;
	background: red;
}

// footer toolbar
.wrapFooter {
	bottom: 0;
}

// tool set with icons
.wrapFooter  li {
	display: block;
	float: left;
}



/// search from

#autocomplete {
	display:block;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(237, 241, 227);
  background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(243,246,235) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(243,246,235) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(243,246,235) 100%);
  box-shadow: inset 0px 3px 3px 0px rgba(205, 205, 182, 0.5);
  border-radius: 8px 0px 0px 8px ;
  height: 40px;
  width: 250px;
  padding-left: 10px;
  font-size: 12px;
  font-style: italic;
}


.searchBtn {
  display: block;
  float: right;
  height: 41px;
  width: 41px;
  border-radius: 0px 8px 8px 0px;
  margin-top: -4px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
}

input[type="submit"]
{
    border: none !important;
    outline:none !important;
    -webkit-appearance:none 
}

.button:hover  {
  background-color:#fafafa;
  color:#207cca;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.map {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 0;
}


.front {
	position: relative;
	z-index: 99999;
}


/*

$DarkBrown: #292321;

$Orange: #CC3300;

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: $DarkBrown;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    
}

input[type="radio"] + label span {
     background-color:$DarkBrown;
}

input[type="radio"]:checked + label span{
     background-color:$Orange;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

*/



